{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li >
                    <a href="{{ buildUrl('/examset/index') }}">基本设置</a>
                </li>
                <li>
                    <a href="{{ buildUrl('/examset/kaodian') }}">考点设置</a>
                </li>
                <li class="current">
                    <a href="{{ buildUrl('/examset/kaochang') }}">考场设置</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row m-t">
    <div class="col-lg-12" id="container"  >
        暂无内容


    </div>






</div>
{% endblock %}
{% block css %}

{% endblock %}
{% block js %}

<script src="{{ buildStaticUrl('/js/examset/index.js') }}"></script>
{% endblock %}