<!--//参考 people/info.html-->
{% extends "common/layout_main.html" %}
{% block content %}
{% include "common/tab_kaowu.html" %}

<div class="row m-t wrap_info">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-m-b-mdmd">
                    <input class="btn btn-outline btn-primary pull-right" type="button" value="+新增" id="kaoqu_btnAdd">
                    <h3>已报名人员：</h3>
                </div>
            </div>
        </div>


        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->

                <!--<p></p>-->
            <!--</div>-->

        <div class="row m-t">
            <div class="col-lg-12">
                <div class="panel blank-panel">
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                {% if kaodian_list %}
                                    {% for item in kaodian_list %}
                                    <li class="{% if loop.index == 1 %}active{% endif %}">
                                    <a href="#tab-{{item.kaodian_id}}" data-toggle="tab" aria-expanded="false">{{item.kaodian_name}}</a>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                <li>
                                    <a href="#" data-toggle="tab" aria-expanded="true">尚未设置本次考试的考点</a>
                                </li>
                                {% endif %}
                                <!--<li class="active">-->
                                    <!--<a href="#tab-1" data-toggle="tab" aria-expanded="false">考点1</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#tab-2" data-toggle="tab" aria-expanded="true">考点2</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            {% if kaodian_list %}
                                {% for item in kaodian_list %}
                                <div class="tab-pane {% if loop.index == 1 %}active{% endif %} "  id="tab-{{item.kaodian_id}}">
                                    <a hidden>{{item.kaodian_name}}</a>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="m-b-m-b-mdmd">
                                                    <input class="btn btn-outline btn-primary pull-right" type="button"
                                                           value="+新增" id="kaodian_btnAdd">
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-hover m-t">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th style="width:100px;text-align: center">巡视组长</th>
                                                <th style="width:100px;text-align: center">副巡视组长</th>
                                                <th style="width:100px;text-align: center">试卷押运</th>
                                                <th style="width:100px;text-align: center">流动巡视</th>
                                                <th style="text-align: center">巡视人员</th>
                                                <th style="width:100px;text-align: center">反作弊小组</th>
                                                <th style="width:100px;text-align: center">治安门检</th>
                                                <th style="width:100px;text-align: center">司机</th>
                                                <th style="width:100px;text-align: center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="j_tb">

                                            {% if kaodian_people_list %}
                                            <tr class="{{item.kaodian_id}}">
                                                <td  style="height: 150px"><select class="txt" name="6"  multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 6 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>巡视组长</a></td>
                                                <td><select class="txt" name="7"   multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 7 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>副巡视组长</a></td>
                                                <td><select class="txt" name="18"  multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 18 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>试卷押运</a></td>
                                                <td><select class="txt" name="9"   multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 9 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>流动巡视</a></td>
                                                <td><select class="txt xunshi" name="8" multiple="multiple"  id="xunshi-{{item.kaodian_id}}"  style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 8 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>巡视</a></td>
                                                <td><select class="txt" name="19"  multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 19 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>反作弊</a></td>
                                                <td><select class="txt" name="10"  multiple="multiple" style="width: 100%">
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 10 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>治安门检</a></td>
                                                <td>
                                                    <select class="txt" name="11"  multiple="multiple" style="width: 100%">
                                                        {% for pitem in kaodian_people_list %}
                                                            {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 11 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                        {% endfor %}
                                                    </select><a hidden>试卷押运司机</a></td>
                                                <td> <input class="btn btn-outline btn-primary pull-right" type="button"
                                                           value="编辑" ><br><input class="btn btn-outline btn-primary pull-right" type="button"
                                                           value="保存" style="margin-top: 5px"></td>
                                            </tr>

                                            {% endif %}




                                            {% if kaoqu_people_list %}
                                            {% for item in kaoqu_people_list %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ item.job }}</td>
                                                <td>{{ item.name.name }}</td>
                                                <td>{{ item.beizhu1 }}</td>
                                                <td>
                                                    <a href="{{ buildUrl('/people/info') }}?id={{ item.name_id  }}">
                                                        <i class="fa fa-eye fa-lg"></i>
                                                    </a>

                                                    <a class="m-l remove" href="javascript:void(0);"
                                                       data="{{ item.id  }}">
                                                        <i class="fa fa-trash fa-lg"></i>
                                                    </a>
                                                    <span style="display: none">{{ item.id }}</span>

                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="6">暂无数据~~</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>

                                        <!--<div class="row">-->
                                        <!--<div class="col-lg-12">-->

                                        <!--<p></p>-->
                                        <!--</div>-->
                                    </div>


                                </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block css %}
<link href="{{ buildStaticUrl('/plugins/tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
<link href="{{ buildStaticUrl('/plugins/tagsinput/keyword.css') }}" rel="stylesheet">
<link href="{{ buildStaticUrl('/plugins/select2/select2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/plugins/tagsinput/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ buildStaticUrl('/plugins/tagsinput/typeahead.bundle.js') }}"></script>

<script src="{{ buildStaticUrl('/plugins/select2/select2.pinyin.js') }}"></script>
<script src="{{ buildStaticUrl('/plugins/select2/zh-CN.js') }}"></script>
<script src="{{ buildStaticUrl('/js/kaowu/kdarrange.js') }}"></script>
{% endblock %}