<!--//参考 people/info.html-->
{% extends "common/layout_main.html" %}
{% block content %}
{% include "common/tab_kaowu.html" %}

<div class="row m-t wrap_info">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-m-b-mdmd">
                    <div class="col-sm-5" style="text-align:left;font-weight: bold">已报名人员：</div>
                    <input class="col-sm-10 col-sm-offset-1" value="张三、李四" />
                </div>
            </div>
        </div>


        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->

                <!--<p></p>-->
            <!--</div>-->

        <div class="row m-t">
            <div class="col-lg-12">
                <div class="panel blank-panel" >
                    <div class="panel-heading">
                        <div class="panel-options">
                            <ul class="nav nav-tabs">
                                {% if kaodian_list %}
                                    {% for item in kaodian_list %}
                                    <li class="{% if loop.index == 1 %}active{% endif %}">
                                    <a href="#tab-{{item.kaodian_id}}" data-toggle="tab" aria-expanded="false">{{item.kaodian_name}}</a>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                <li>
                                    <a href="#" data-toggle="tab" aria-expanded="true">尚未设置本次考试的考点</a>
                                </li>
                                {% endif %}
                                <!--<li class="active">-->
                                    <!--<a href="#tab-1" data-toggle="tab" aria-expanded="false">考点1</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="#tab-2" data-toggle="tab" aria-expanded="true">考点2</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body" style="padding-left: 0px">
                        <div class="tab-content">
                            {# 如果存在考点 #}
                            {% if kaodian_list %}
                                {% for item in kaodian_list %}
                                <div class="tab-pane {% if loop.index == 1 %}active{% endif %} "  id="tab-{{item.kaodian_id}}">
                                    <a hidden>{{item.kaodian_name}}</a>  {# 临时存放考点名 #}
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="m-b-m-b-mdmd">
                                                     <div class="col-sm-5" style="text-align:left;padding-left: 0px;font-weight: bold">【{{item.kaodian_name}}】人员安排：</div>

                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-hover m-t">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th style="width:100px;text-align: center">巡视组长</th>
                                                <th style="width:100px;text-align: center">副巡视组长</th>
                                                <th style="width:100px;text-align: center">试卷押运</th>
                                                <th style="width:100px;text-align: center">流动巡视</th>
                                                <th style="text-align: center">巡视人员</th>
                                                <th style="width:100px;text-align: center">反作弊小组</th>
                                                <th style="width:100px;text-align: center">治安门检</th>
                                                <th style="width:100px;text-align: center">司机</th>
                                                <th style="width:100px;text-align: center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            {# 如果存在人员安排 #}
                                            {% if kaodian_people_list %}
                                            <tr class="{{item.kaodian_id}}">
                                                <td  style="height: 150px"><select class="txt" name="6"  multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 6 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>巡视组长</a></td>
                                                <td><select class="txt" name="7"   multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 7 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>副巡视组长</a></td>
                                                <td><select class="txt" name="18"  multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 18 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>试卷押运</a></td>
                                                <td><select class="txt" name="9"   multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 9 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>流动巡视</a></td>
                                                <td><select class="txt xunshi" name="8" multiple="multiple"  id="xunshi-{{item.kaodian_id}}"  style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 8 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>巡视</a></td>
                                                <td><select class="txt" name="19"  multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 19 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>反作弊</a></td>
                                                <td><select class="txt" name="10"  multiple="multiple" style="width: 100%" disabled>
                                                    {% for pitem in kaodian_people_list %}
                                                        {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 10 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                    {% endfor %}
                                                </select><a hidden>治安门检</a></td>
                                                <td>
                                                    <select class="txt" name="11"  multiple="multiple" style="width: 100%" disabled>
                                                        {% for pitem in kaodian_people_list %}
                                                            {% if pitem.kaodian == item.kaodian_name and pitem.job_id == 11 %}<option value="{{pitem.name_id}}" selected="selected">{{pitem.name.name}}</option>{% endif %}
                                                        {% endfor %}
                                                    </select><a hidden>试卷押运司机</a></td>
                                                <td> <input class="btn btn-outline btn-primary center-block edt-btn" type="button"
                                                           value="编辑" style="width: 57px">
                                                     <input class="btn btn-outline btn-primary center-block ok-btn" type="button"
                                                           value="OK" style="margin-top: 10px;width: 57px">
                                                </td>
                                            </tr>
                                            {# 如果不存在人员安排 #}
                                            {% else  %}
                                            <tr class="{{item.kaodian_id}}">
                                                <td style="height: 150px"><select class="txt" name="6"
                                                                                  multiple="multiple"
                                                                                  style="width: 100%" >
                                                </select><a hidden>巡视组长</a></td>
                                                <td><select class="txt" name="7" multiple="multiple"
                                                            style="width: 100%">
                                                </select><a hidden>副巡视组长</a></td>
                                                <td><select class="txt" name="18" multiple="multiple"
                                                            style="width: 100%">
                                                </select><a hidden>试卷押运</a></td>
                                                <td><select class="txt" name="9" multiple="multiple"
                                                            style="width: 100%">

                                                </select><a hidden>流动巡视</a></td>
                                                <td><select class="txt xunshi" name="8" multiple="multiple"
                                                            style="width: 100%">
                                                </select><a hidden>巡视</a></td>
                                                <td><select class="txt" name="19" multiple="multiple"
                                                            style="width: 100%">
                                                </select><a hidden>反作弊</a></td>
                                                <td><select class="txt" name="10" multiple="multiple"
                                                            style="width: 100%">
                                                </select><a hidden>治安门检</a></td>
                                                <td>
                                                    <select class="txt" name="11" multiple="multiple"
                                                            style="width: 100%">
                                                    </select><a hidden>试卷押运司机</a></td>
                                                <td><input class="btn btn-outline btn-primary center-block edt-btn"
                                                           type="button"
                                                           value="编辑">
                                                    <input class="btn btn-outline btn-primary center-block ok-btn"
                                                           type="button"
                                                           value="OK" style="margin-top: 10px">
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                            <div class="hr-line-dashed col-sm-12"></div>
{# 其他单独岗位人员安排 #}
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <!--<div class="col-sm-2 pull-left">其他人员安排：</div>-->

                                                <div class="m-b-m-b-mdmd " style="background: #0d8ddb">
                                                    <div class="col-sm-5" style="text-align:left;padding-left: 0px;font-weight: bold">其他人员安排：</div>
                                                    <input class="btn btn-outline btn-primary pull-right kd-other-add" name="{{item.kaodian_id}}" type="button"
                                                           value="+新增" style="margin-right:20px ">
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-hover m-t">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>岗位</th>
                                                <th>姓名</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="j_tb">
                                            {% if other_list %}
                                            {% for aitem in other_list %}
                                            {% if aitem.kaodian == item.kaodian_name %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ aitem.job }}</td>
                                                <td>{{ aitem.name }}</td>
                                                <td>{{ aitem.beizhu }}</td>
                                                <td>
                                                    <a href="{{ buildUrl('/people/info') }}?id={{ item.name_id  }}">
                                                        <i class="fa fa-eye fa-lg"></i>
                                                    </a>
                                                    <a class="m-l remove" href="javascript:void(0);"
                                                       data="{{ aitem.id  }}">
                                                        <i class="fa fa-trash fa-lg"></i>
                                                    </a>
                                                    <span style="display: none">{{ aitem.id }}</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="6">暂无数据~~</td>
                                            </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>


                    <!--遮罩层-->
                    <div id="j_mask" class="mask"></div>
                    <!--添加考区数据的表单-->
                    <div id="j_formAdd" class="form-add" >
                        <!--input 为隐藏输入框 临时存放考点id-->
                        <input class="hidden" name="" />
                        <a hidden></a>  {# 临时存放考点名 #}
                        <div class="form-add-title">
                            <span>添加考点人员</span>

                            <div id="j_hideFormAdd">×</div>
                        </div>
                        <div class="form-item">
                            <label class="lb" for="j_txtCatname">岗位:</label>
                            <!--<input class="txt" type="text" id="j_txtCatname" placeholder="请选择岗位">-->
                            <select name="j_txtCatname" class="form-control " tabindex="-1"
                                    aria-hidden="true">
                                <option value="8">巡视</option>
                                {% for item in cat_list %}
                                <option value="{{ item.id }}">{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-item">
                            <label class="lb" for="id_select2_j_txtName">姓名:</label>
                            <select class="txt1" id="id_select2_j_txtName"></select>
                        </div>
                        <div class="form-item">
                            <label class="lb" for="j_txtMark">备注:</label>
                            <input class="txt2" type="text" id="j_txtMark" value="" style="width: 400px">
                        </div>
                        <div class="form-submit">
                            <input type="button" value="添加" id="j_btnAdd">
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
{% block css %}
<!--<link href="{{ buildStaticUrl('/plugins/tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">-->
<!--<link href="{{ buildStaticUrl('/plugins/tagsinput/keyword.css') }}" rel="stylesheet">-->
<link href="{{ buildStaticUrl('/plugins/select2/select2.min.css') }}" rel="stylesheet">
<link href="{{ buildStaticUrl('/js/kaowu/kaowu.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
<!--<script src="{{ buildStaticUrl('/plugins/tagsinput/bootstrap-tagsinput.min.js') }}"></script>-->
<!--<script src="{{ buildStaticUrl('/plugins/tagsinput/typeahead.bundle.js') }}"></script>-->

<script src="{{ buildStaticUrl('/plugins/select2/select2.pinyin.js') }}"></script>
<script src="{{ buildStaticUrl('/plugins/select2/zh-CN.js') }}"></script>
<script src="{{ buildStaticUrl('/js/kaowu/kdarrange.js') }}"></script>
{% endblock %}