{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li class="current">
                    <a href="{{ buildUrl('/news/index') }}">通知列表</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline wrap_search">

            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-w-m btn-outline btn-primary pull-right" href="{{ buildUrl('/news/set') }}">
                        <i class="fa fa-plus"></i>通知
                    </a>
                </div>
            </div>

        </form>
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th>标题</th>


                <th>标签</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
             {% if list %}
                {% for item in list %}
            <tr>
                <td>{{ item.name }}</td>

                <td>{{ item.tags }}</td>

                <td>{{ item.created_time }}</td>
                <td>
                    <a href="{{ buildUrl('/news/info') }}?id={{ item.id  }}">
                        <i class="fa fa-eye fa-lg"></i>
                    </a>
                     {%  if item.status == 1 %}
                    <a class="m-l" href="{{ buildUrl('/news/set') }}?id={{ item.id  }}">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>

                    <a class="m-l remove" href="javascript:void(0);" data="{{ item.id  }}">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                    {% else %}
                       <a class="m-l recover" href="javascript:void(0);" data="{{ item.id  }}">
                        <i class="fa fa-rotate-left fa-lg"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
             {% endfor %}
            {% else %}
                <tr><td colspan="6">暂无数据~~</td></tr>
            {% endif %}
            </tbody>
        </table>
        <!--分页代码已被封装到统一模板文件中-->
        {% include 'common/pagenation.html' %}
    </div>
</div>


{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/news/index.js') }}"></script>
{% endblock %}
