<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current =="kqarrange"%} class="current" {% endif %}>
                    <a href="{{ buildUrl('/kaowu/kqarrange') }}">考区人员安排</a>
                </li>
                    <li {% if current =="kdarrange"%} class="current" {% endif %}>
                    <a href="{{ buildUrl('/kaowu/kdarrange') }}">考点人员安排</a>
                </li>
                <li {% if current =="stat"%} class="current" {% endif %}>
                    <a href="{{ buildUrl('/kaowu/stat') }}">统计出表</a>
                </li>

            </ul>
        </div>
    </div>
</div>